<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Profile Page</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <style>
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

    .hm-gradient {
      background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    }

    .darken-grey-text {
      color: #2E2E2E;
    }

    .navbar .dropdown-menu a:hover {
      color: #616161 !important;
    }

    .darken-grey-text {
      color: #2E2E2E;
    }
  </style>
  <!--Navbar -->
  <nav class="mb-4 navbar navbar-expand-lg navbar-dark cyan">
    <a class="navbar-brand font-bold" href="#"><i class="fa fa-address-card"></i>     PhoneBook Diary Profile Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-down"></i>Features
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" data-toggle="modal" data-target="#myModal4"><b>ScreenShot</b></a>
            <!-- <a class="dropdown-item" href="/Createpdf" data-toggle="modal" data-target="#myModal3"><b>PDF</b></a> -->
            <form action="/Createpdf" method="get">
              <button type="submit" class="dropdown-item" data-toggle="modal" data-target="#myModal3">PDF</button>
            </form>
            <a class="dropdown-item" data-toggle="modal" data-target="#myModal2"><b>Upload Image</b></a>
            <a class="dropdown-item" data-toggle="modal" data-target="#myModal"><b>SMS</b></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/submit"><i class="fa fa-plus-circle"></i>Add New Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i>Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3 bg-light"><strong><b>Your List of Contacts....</b></strong></h1>
        <%if(data){%>
        <div class="text-center">
          <img src="<%=data%>" alt="" style="width:200px; height:200px;">
        </div>
        <%}%>
    <div class="row">

      <%  usersWithSecrets.array.forEach(function(x){ %>
        <form action="/delete" method="POST">
         <div class="col-md-4">
            <!-- <div class="card">
              <div class="top">
                <h2 class="name"><%=x.name%></h2>
                <img class="circle-img" src="/stores/images/<%=x.image%>" />
              </div>
              <div class="bottom">
                <p class="info"><%=x.phone%></p>
                <p class="info"><%=x.email%></p>
              </div>
              <input type="checkbox" name="check" value="<%=x._id%>" onChange="this.form.submit()" style="float:right;">
            </div> -->
            <div class="card" style="width: 18rem;">
              <div class="card-up indigo lighten-1"></div>
              <img class="card-img-top" src="/stores/images/<%=x.image%>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-primary"><strong><%=x.name%></strong></h5>
                <p class="card-text">
                  <h5 class="card-title text-secondary"><b>Contact No:</b>   <%=x.phone%></h5>
                  <h5 class="card-title text-secondary"><b>Email:</b>   <%=x.email%></h5>
                </p>
                <input type="checkbox" name="check" value="<%=x._id%>" onChange="this.form.submit()" style="float:right;">
              </div>
            </div>
          </div>
        </form>
        <%  }) %>
        <hr>
      </div>
      <hr>

      <div class="row">
        <!-- <div class="col-md-2">
          <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
        </div>
        <div class="col-md-2">
          <a class="btn btn-primary btn-lg" href="/submit" role="button">Add New Contact</a>
        </div> -->
        <div class="col-md-2">
          <div class="container">
            <!-- Trigger the modal with a button -->
            <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">SMS</button> -->
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Type Text</h4>
                  </div>
                  <div class="modal-body">
                    <form action="/sms" method="POST">
                      <div class="form-group">
                        <input type="text" class="form-control text-center" name="from" placeholder="Enter Your Name">
                        <input type="text" class="form-control text-center" name="phoneno" placeholder="Enter Phone No">
                        <input type="text" class="form-control text-center" name="message" placeholder="Enter Your Text">
                      </div>
                      <button type="submit" class="btn btn-primary">SEND</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="container">
            <!-- Trigger the modal with a button -->
            <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">UPLOAD IMAGE</button> -->
            <!-- Modal -->
            <div class="modal fade" id="myModal2" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload Your Image</h4>
                  </div>
                  <div class="modal-body">
                    <form action="/upload" method="post" enctype="multipart/form-data">
                      <input type="file" accept="image/*" name="photo">
                      <input type="submit" value="upload">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="container">
            <!-- Trigger the modal with a button -->
            <!-- <a class="btn btn-primary btn-lg" href="/Createpdf" role="button" data-toggle="modal" data-target="#myModal3">Pdf</a> -->
            <!-- <form action="/Createpdf" method="get">
              <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">PDF</button>
            </form> -->
            <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">PDF</button> -->
            <!-- Modal -->
            <div class="modal fade" id="myModal3" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <h4 class="modal-title">Plz wait while pdf is being created.....</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="container">
            <!-- Trigger the modal with a button -->
            <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4">ScreenShot</button> -->
            <div class="modal" id="myModal4" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Enter url of that page of which screenshot is to be taken....</h4>
                  </div>
                  <div class="modal-body">
                    <form action="/screenshot" method="POST">
                      <div class="form-group">
                        <input type="text" class="form-control text-center" name="url" placeholder="Paste the url">
                      </div>
                      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">TAKE</button>
                      <!-- AG -->
                      <div class="modal fade" id="myModal5" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                              <h4 class="modal-title">Plz wait while ScreenShot is being taken.....</h4>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
