<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3"><strong>Your List of Contacts....</strong></h1>
    <div class="row">
      <%  usersWithSecrets.array.forEach(function(x){ %>
      <form action="/delete" method="POST">
        <div class="col-md-4">
          <div class="card">
            <div class="top">
              <h2 class="name"><%=x.name%></h2>
              <img class="circle-img" src="/stores/images/<%=x.image%>" />
            </div>
            <div class="bottom">
              <p class="info"><%=x.phone%></p>
              <p class="info"><%=x.email%></p>
            </div>
            <input type="checkbox" name="check" value="<%=x._id%>" onChange="this.form.submit()" style="float:right;">
          </div>
        </div>
      </form>

      <%  }) %>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
      </div>
      <div class="col-md-2">
        <a class="btn btn-primary btn-lg" href="/submit" role="button">Add New Contact</a>
      </div>
      <div class="col-md-2">
        <div class="container">
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">SMS</button>
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Type Text</h4>
                </div>
                <div class="modal-body">
                  <form action="/sms" method="POST">
                    <div class="form-group">
                      <input type="text" class="form-control text-center" name="from" placeholder="Enter Your Name">
                      <input type="text" class="form-control text-center" name="phoneno" placeholder="Enter Phone No">
                      <input type="text" class="form-control text-center" name="message" placeholder="Enter Your Text">
                    </div>
                    <button type="submit" class="btn btn-primary">SEND</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container">
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">UPLOAD IMAGE</button>
          <!-- Modal -->
          <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Upload Your Image</h4>
                </div>
                <div class="modal-body">
                  <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" accept="image/*" name="photo">
                    <input type="submit" value="upload">
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container">
          <!-- Trigger the modal with a button -->
          <!-- <a class="btn btn-primary btn-lg" href="/Createpdf" role="button" data-toggle="modal" data-target="#myModal3">Pdf</a> -->
          <form action="/Createpdf" method="get">
            <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">PDF</button>
          </form>
          <!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">PDF</button> -->
          <!-- Modal -->
          <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <h4 class="modal-title">Plz wait while pdf is being created.....</h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="container">
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal4">ScreenShot</button>
          <div class="modal fade" id="myModal4" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Enter url of that page of which screenshot is to be taken....</h4>
                </div>
                <div class="modal-body">
                  <form action="/screenshot" method="POST">
                    <div class="form-group">
                      <input type="text" class="form-control text-center" name="url" placeholder="Paste the url">
                    </div>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal5">TAKE</button>
                    <!-- AG -->
                    <div class="modal fade" id="myModal5" role="dialog">
                      <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                            <h4 class="modal-title">Plz wait while ScreenShot is being taken.....</h4>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
