<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3"><strong>Your List of Contacts....</strong></h1>
    <hr>
    <div class="row">
      <%  usersWithSecrets.array.forEach(function(x){ %>
        <div class="col">
          <div class="card">
            <div class="top">
              <h2 class="name"><%=x.name%></h2>
              <img class="circle-img" src="/stores/images/<%=x.image%>" />
            </div>
            <div class="bottom">
              <p class="info"><%=x.phone%></p>
              <p class="info"><%=x.email%></p>
            </div>
          </div>
          <br />
        </div>
      <%  }) %>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
